.header {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkseagreen;
}

.lotto{
  margin: 0.3rem;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 1.8rem;
  width: 2rem;
  height: 2rem;
}

.lotto:nth-child(odd){
  background-color: rgb(200,150,200);
  line-height: 1.8rem;
  width: 2rem;
  height: 2rem;
}

.lotto:nth-child(even){
  background-color: rgb(245, 183, 103);
}